# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test

# Serverless directories
.serverless/

# DynamoDB Local files
.dynamodb/

**/.idea
**/.DS_Store
package-lock.json
.DS_Store
/TestFiles
/dist
