#if($ctx.error)
    $utils.error($ctx.error.message, $ctx.error.type)
#end

#if($context.result.statusCode != 200 )
    $utils.error($context.result.body, "LambdaFailure")
#end

$utils.toJson($context.result.body)